<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js2/jquery.min.js"></script>
    <script src="../js2/bootstrap3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js2/bootstrap3/css/bootstrap.css" />


    <script src="../js2/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js2/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="../js2/bootstrap-table/bootstrap-table.css"/>

    <script src="../js2/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js2/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js2/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>

    <!-- 引入弹框的js -->
    <script src="../js2/bootstrap-bootbox/bootbox.js"></script>


    <link rel="stylesheet" href="../js2/bootstrap-fileinput/css/fileinput.css"/>
    <script src="../js2/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js2/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="../css2/build.css">
</head>
<body>
<h2>房屋位置</h2><br>





<form class="form-horizontal" role="form" id="addBookForm">
    <input type="hidden" name="id" id="id" >
  <!--  <div class="checkbox checkbox-inline">
        <input type="checkbox" class="styled" id="inlineCheckbox1" value="option1">
        <label for="inlineCheckbox1"> Inline One </label>
    </div>
    <div class="checkbox checkbox-success checkbox-inline">
        <input type="checkbox" class="styled" id="inlineCheckbox2" value="option1" checked>
        <label for="inlineCheckbox2"> Inline Two </label>
    </div>
    <div class="checkbox checkbox-inline">
        <input type="checkbox" class="styled" id="inlineCheckbox3" value="option1">
        <label for="inlineCheckbox3"> Inline Three </label>
    </div>
    <div class="checkbox checkbox-inline">
        <input type="checkbox" class="styled" id="inlineCheckbox4" value="option1">
        <label for="inlineCheckbox4"> Inline Three </label>
    </div>-->
    <div class="form-group" >

        <label for="inputEmail3"  class="col-sm-2 control-label">地区城市:</label>
        <div class="col-sm-5">
            <input type="text" name="mimg"  placeholder="例如："  id="ming" class="form-control"  />
        </div>
    </div>

    <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">身份证号码:</label>
    <div class="col-sm-7">
        <input type="text" name="fightdate"  class="form-control"  />
    </div>
</div>


    <div class="row" >
        <label for="inputPassword3" class="col-sm-2 control-label">小区街道：&nbsp;<span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>

        <div class="col-md-4" >
            <input type="text"  name="phone" id="phone" class="form-control"  />
        </div>

        <div class="col-md-4" >
            <button type="button" class="btn btn-info btn-sm">门牌号</button>
        </div>


    </div>



    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">门牌号:</label>
        <div class="col-sm-7">
            <input type="text" name="fightdate"  class="form-control"  />
        </div>
    </div>



    </div>
    <button type="button" onclick="add()" class="btn btn-info btn-sm">下一步</button>
</form>
<script>

    function a() {
    $("#addBookForm").
        alert(a)
    }




</script>
</body>
</html>