<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Home</title>

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!--====== Pe Icon 7 Stroke css ======-->
    <link rel="stylesheet" href="../assets/css/Pe-icon-7-stroke.css">

    <!--====== Ion Icons css ======-->
    <link rel="stylesheet" href="../assets/css/ionicons.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../assets/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="../assets/css/animate.min.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="../assets/css/nice-select.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="../assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../assets/css/style.css">


</head>

<body>
<input   type="hidden" id="id" th:value="${session.user.id}" >

<div style="position:relative; font-size: 20px;color:#985f0d;">
    <div>
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
    </div>
    <div style="position:absolute; left:0;top:0;width: 73px; overflow: hidden;text-overflow: clip;white-space: nowrap;">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </div>
</div>
<table id="dg"></table>
    <!--====== PRELOADER  PART START ======-->

    <div id="preloader">
        <div id="loader">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <!--====== PRELOADER  PART ENDS ======-->

    <!--====== SEARCH PART START ======-->

    <div class="search-box">
        <div class="search-header">
            <div class="container mt-60">
                <div class="row">
                    <div class="col-6">
                        <h5 class="search-title">Search</h5> <!-- search title -->
                    </div>
                    <div class="col-6">
                        <div class="search-close text-right">
                            <button class="search-close-btn">Close <span></span><span></span></button>
                        </div> <!-- search close -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- search header -->
        <div class="search-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="search-form">
                            <form action="#">
                                <input type="text" placeholder="Search for Products">
                                <button><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- search body -->
    </div>

    <!--====== SEARCH PART ENDS ======-->

    <!--====== SHOPPING CART PART START ======-->

    <div class="shopping-cart-wrapper">
        <div class="shopping-cart-canvas">
            <div class="shopping_cart">
                <div class="shopping_cart-top-bar d-flex justify-content-between">
                    <h6><p th:text="${session.user.username}"></p></h6>
                    <button class="shopping-cart-close">
                        <i class="ion ion-md-add"></i>
                    </button>
                </div><!-- shopping cart top bar -->
                <div class="shopping_cart-list-items mt-30">
                    <ul>
                        <li>
                            <div class="single-shopping-cart media">
                             <!--   <div class="cart-image">
                                    <img src="../assets/images/cart-1.jpg" alt="Cart">


                                </div>-->
                                <div class="cart-content media-body pl-15">
                                    <h6><a href="#">我的订单</a></h6>
                             <!--       <span class="quality">QTY: 01</span>
                                    <span class="price">$205.00</span>
                                    <a class="remove" href="#"><i class="fal fa-times"></i></a>-->
                                </div>

                            </div> <!-- single shopping cart -->
                        </li>
                        <li>
                            <div class="single-shopping-cart media">
                                <!--   <div class="cart-image">
                                       <img src="../assets/images/cart-1.jpg" alt="Cart">


                                   </div>-->
                                <div class="cart-content media-body pl-15">
                                    <h6><a href="javascript:c()">个人资料</a></h6>
                                    <!--       <span class="quality">QTY: 01</span>
                                           <span class="price">$205.00</span>
                                           <a class="remove" href="#"><i class="fal fa-times"></i></a>-->
                                </div>

                            </div> <!-- single shopping cart -->
                        </li>
                        <li>
                            <div class="single-shopping-cart media">
                             <!--   <div class="cart-image">
                                    <img src="../assets/images/cart-2.jpg" alt="Cart">
                                </div>-->
                                <div class="cart-content media-body pl-15">
                                    <h6><a href="#">我的收藏</a></h6>
                                    <span class="quality">QTY: 01</span>
                                    <span class="price-discount">$205.00</span>
                                    <span class="price-close">$205.00</span>
                                    <a class="remove" href="#"><i class="fal fa-times"></i></a>
                                </div>
                            </div> <!-- single shopping cart -->
                        </li>
                    </ul>
                </div> <!-- shopping_cart list items -->
                <div class="shopping_cart-btn">
                    <div class="total pt-35 d-flex justify-content-between">
                        <h5>Subtotal:</h5>
                        <p>$240.00</p>
                    </div>
                    <div class="cart-btn pt-25">
                        <a class="main-btn" href="#">View Cart</a>
                        <a class="main-btn main-btn-2" href="#">Checkout</a>
                    </div>
                </div>
            </div> <!-- shopping_cart -->
        </div>
        <div class="overlay"></div>
    </div>

    <!--====== SHOPPING CART PART ENDS ======-->

    <!--====== HEADER  PART START ======-->

    <header class="header-area" >
        <div class="navigation fixed-top">
            <div class="container-fluid pl-60 pr-60">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img src="../assets/images/logo.png" alt="Logo">
                            </a> <!-- Logo -->

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button> <!-- navbar-toggler -->

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item"><a href="index.html">Home</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="about-us.html">关于我们</a></li>
                                    <li class="nav-item"><a href="javascript:fang()" >成为房东</a></li>
                                    <li class="nav-item"><a href="product-grid.html">Product Grid</a></li>
                                    <li class="nav-item"><a href="javascript:deng()">登录</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="contact-us.html">个人中心</a></li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="navbar-icon d-none d-sm-block">
                                <ul>
                                    <li><a class="search-open" href="#"><i class="pe-7s-search"></i></a></li>
                                    <li><a class="shopping-cart-open" href="#"><i class="glyphicon glyphicon-user"></i></a>你的账户</li>
                                </ul>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
    </header>

    <!--====== HEADER  PART ENDS ======-->

    <!--====== BANNER  PART START ======-->

    <div class="banner-active">
        <div class="banner-area d-flex align-items-center bg_cover" style="background-image: url(../assets/images/banner-bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner-content text-center">
                            <h5 data-animation="fadeInUp" data-delay="0.5s" class="title"><font size="7px">睡在山海间，住进人情里</font></h5>
                            <a data-animation="fadeInUp" data-delay="1.2s" class="main-btn" href="product-grid.html">欢迎</a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="banner-shape">
                <img src="../assets/images/banner-shape.png" alt="shape">
            </div>
        </div> <!-- banner area -->
        <div class="banner-area d-flex align-items-center bg_cover" style="background-image: url(../assets/images/banner-bg-2.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner-content text-center">
                            <h1 data-animation="fadeInUp" data-delay="0.5s" class="title">Eat Fresh</h1>
                            <a data-animation="fadeInUp" data-delay="1.2s" class="main-btn" href="product-grid.html">SHOP Now</a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="banner-shape">
                <img src="../assets/images/banner-shape.png" alt="shape">
            </div>
        </div> <!-- banner area -->
        <div class="banner-area d-flex align-items-center bg_cover" style="background-image: url(../assets/images/banner-bg-3.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner-content text-center">
                            <h1 data-animation="fadeInUp" data-delay="0.5s" class="title">Eat Fresh</h1>
                            <a data-animation="fadeInUp" data-delay="1.2s" class="main-btn" href="product-grid.html">SHOP Now</a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="banner-shape">
                <img src="../assets/images/banner-shape.png" alt="shape">
            </div>
        </div> <!-- banner area -->
    </div>

    <!--====== BANNER  PART ENDS ======-->

    <!--====== SUB PRODUCT PART START ======-->

    <div class="sub-product-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-product d-flex justify-content-between">
                        <div class="sub-product-item text-center mt-30">
                            <img src="../assets/images/sub-1.jpg" alt="Eggs"><br>
                            <a href="product-details.html"><span>Eggs</span></a>
                        </div> <!-- sub product item -->
                        <div class="sub-product-item text-center mt-60">
                            <img src="../assets/images/sub-2.jpg" alt="Fruit"><br>
                            <a href="product-details.html"><span>Fruit</span></a>
                        </div> <!-- sub product item -->
                        <div class="sub-product-item text-center mt-30">
                            <img src="../assets/images/sub-4.jpeg" alt="Vegetables"><br>
                            <a href="../product-details.html"><span>Vegetables</span></a>
                        </div> <!-- sub product item -->
                        <div class="sub-product-item text-center mt-60">
                            <img src="../assets/images/sub-4.jpeg" alt="Meat"><br>
                            <a href="product-details.html"><span>Meat</span></a>
                        </div> <!-- sub product item -->
                        <div class="sub-product-item text-center mt-30">
                            <img src="../assets/images/sub-5.jpg" alt="Dairy"><br>
                            <a href="product-details.html"><span>Dairy</span></a>
                        </div> <!-- sub product item -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </div>

    <!--====== SUB PRODUCT PART ENDS ======-->

    <!--====== PRODUCT  PART START ======-->
<!--搜索框-->
<div id="shousuo-solr" class="text-center" style="margin-top: 40px">
    <div class="container" style="" >

        <!--表单-->
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <div class="input-group">
                <input type="text" class="form-control" style="height: 47px" size="60px" placeholder="快速搜索房源">
                <span class="input-group-btn">
                      <button class="btn-default btn-info btn-lg btn-block"   type="button">搜索</button>
                      </span>
            </div><!-- /input-group -->
        </div>
    </div>
        <div class="text-center " style="">

            <h1>别住酒店，住我家</h1>
            <span>海内存知己，天涯若比邻</span>
        </div>







    <section class="product-area area-padding">
        <div class="container">
            <div><span id="aaaId"></span></div>
   <!--         <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-product mt-30">
                        <img src="../assets/images/product-1.jpg" alt="product">
                        <a href="product-details.html">
                            <h6 class="title">Grape</h6>
                        </a>
                        <ul>
                            <li>$15.00</li>
                        </ul>
                    </div> &lt;!&ndash; single product &ndash;&gt;
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-product mt-30">
                        <img src="../assets/images/product-2.jpg" alt="product">
                        <a href="product-details.html">
                            <h6 class="title">Cabbage</h6>
                        </a>
                        <span>Sale</span>
                        <ul>
                            <li>$45.00</li>
                            <li class="item-2"> $70.00</li>
                        </ul>
                    </div> &lt;!&ndash; single product &ndash;&gt;
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-product mt-30">
                        <img src="../assets/images/product-3.jpg" alt="product">
                        <a href="product-details.html">
                            <h6 class="title">Cauliflower</h6>
                        </a>
                        <ul>
                            <li>$32.00</li>
                        </ul>
                    </div> &lt;!&ndash; single product &ndash;&gt;
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-product mt-30">
                        <img src="../assets/images/product-4.jpg" alt="product">
                        <a href="product-details.html">
                            <h6 class="title">Red Pepper</h6>
                        </a>
                        <ul>
                            <li>$15.00</li>
                        </ul>
                    </div> &lt;!&ndash; single product &ndash;&gt;
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-product mt-30">
                        <img src="../assets/images/product-5.jpg" alt="product">
                        <a href="product-details.html">
                            <h6 class="title">Apple</h6>
                        </a>
                        <ul>
                            <li>$45.00</li>
                        </ul>
                    </div> &lt;!&ndash; single product &ndash;&gt;
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-product mt-30">
                        <img src="../assets/images/product-6.jpg" alt="product">
                        <a href="product-details.html">
                            <h6 class="title">Corn</h6>
                        </a>
                        <ul>
                            <li>$32.00</li>
                        </ul>
                    </div> &lt;!&ndash; single product &ndash;&gt;
                </div>
            </div> &lt;!&ndash; row &ndash;&gt;
        </div> &lt;!&ndash; container &ndash;&gt;
    </section>

    &lt;!&ndash;====== PRODUCT  PART ENDS ======&ndash;&gt;

    &lt;!&ndash;====== PLAY PART START ======&ndash;&gt;

    <section class="play-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="play-item">
                        <div class="play-title pb-25">
                            <h3 class="title">100% Natural From The Farm</h3>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                        </div>
                        <div class="play-thumb mt-30">
                            <img src="../assets/images/play-thumb.png" alt="">
                            <a class="video-popup" href="www.youtube.com/watch?v=3JmT_bo43SA"><i class="icon ion-md-play"></i></a>
                        </div>
                    </div> &lt;!&ndash; play item &ndash;&gt;
                </div>
            </div> &lt;!&ndash; row &ndash;&gt;-->
        </div> <!-- container -->
    </section>

    <!--====== PLAY PART ENDS ======-->

    <!--====== BRAND PART START ======-->

    <div class="brand-area">
        <div class="container">
            <div class="row brand-active">
                <div class="col-lg-3">
                    <div class="brand-item">
                        <img src="../assets/images/brand-1.png" alt="">
                    </div> <!-- brand item -->
                </div>
                <div class="col-lg-3">
                    <div class="brand-item">
                        <img src="../assets/images/brand-2.png" alt="">
                    </div> <!-- brand item -->
                </div>
                <div class="col-lg-3">
                    <div class="brand-item">
                        <img src="../assets/images/brand-3.png" alt="">
                    </div> <!-- brand item -->
                </div>
                <div class="col-lg-3">
                    <div class="brand-item">
                        <img src="../assets/images/brand-4.png" alt="">
                    </div> <!-- brand item -->
                </div>
                <div class="col-lg-3">
                    <div class="brand-item">
                        <img src="../assets/images/brand-5.png" alt="">
                    </div> <!-- brand item -->
                </div>
                <div class="col-lg-3">
                    <div class="brand-item">
                        <img src="../assets/images/brand-5.png" alt="">
                    </div> <!-- brand item -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== BRAND PART ENDS ======-->

    <!--====== SELLER PART START ======-->

    <section class="seller-area pt-90 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <a href="#">
                            <h3 class="title">Best Seller</h3>
                        </a>
                    </div> <!-- section title -->
                </div>
            </div>
            <div class="row seller-active">
                <div class="col-lg-3">
                    <div class="single-seller mt-30">
                        <img src="../assets/images/seller-1.jpg" alt="">
                        <a href="product-details.html">
                            <h5 class="title">Banana</h5>
                        </a>
                        <ul>
                            <li>$15.00</li>
                        </ul>
                    </div> <!-- single seller -->
                </div>
                <div class="col-lg-3">
                    <div class="single-seller mt-30">
                        <img src="../assets/images/seller-2.jpg" alt="">
                        <a href="product-details.html">
                            <h5 class="title">Pomegranate</h5>
                        </a>
                        <ul>
                            <li>$45.00</li>
                            <li class="item-2">$70.00</li>
                        </ul>
                    </div> <!-- single seller -->
                </div>
                <div class="col-lg-3">
                    <div class="single-seller mt-30">
                        <img src="../assets/images/seller-3.jpg" alt="">
                        <a href="product-details.html">
                            <h5 class="title">Cabbage</h5>
                        </a>
                        <ul>
                            <li>$45.00</li>
                        </ul>
                    </div> <!-- single seller -->
                </div>
                <div class="col-lg-3">
                    <div class="single-seller mt-30">
                        <img src="../assets/images/seller-4.jpg" alt="">
                        <a href="product-details.html">
                            <h5 class="title">Grape</h5>
                        </a>
                        <ul>
                            <li>$25.00</li>
                        </ul>
                    </div> <!-- single seller -->
                </div>
                <div class="col-lg-3">
                    <div class="single-seller mt-30">
                        <img src="../assets/images/seller-6.jpg" alt="">
                        <a href="product-details.html">
                            <h5 class="title">Apple</h5>
                        </a>
                        <ul>
                            <li>$45.00</li>
                        </ul>
                    </div> <!-- single seller -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== SELLER PART ENDS ======-->

    <!--====== DISCOUNT PART START ======-->

    <section class="discount-area pb-90">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount-item bg_cover mt-30" style="background-image: url(../assets/images/discount-bg-1.jpg);">
                        <span>100% natural </span>
                        <h2 class="title">From the farm</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="discount-item bg_cover mt-30" style="background-image: url(../assets/images/discount-bg-2.jpg);">
                        <span>Sale off</span>
                        <h2 class="title">Extra 20% Off </h2>
                        <a class="main-btn main-btn-2" href="product-list.html">Shop Now</a>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container fluid -->
    </section>

    <!--====== DISCOUNT PART ENDS ======-->

    <!--====== CUSTOMER PART START ======-->

    <div class="customer-area">
        <div class="container">
            <div class="row customer-active">
                <div class="col-lg-6">
                    <div class="customer-item">
                        <img src="../assets/images/customer-1.png" alt="customer">
                        <span><b>Adam</b> / Designer</span>
                        <p>“ Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo conequat ”</p>
                    </div> <!-- customer item -->
                </div>
                <div class="col-lg-6">
                    <div class="customer-item">
                        <img src="../assets/images/customer-2.png" alt="customer">
                        <span><b>Maddie Fletcher</b> / Customer</span>
                        <p>“ Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo conequat ”</p>
                    </div> <!-- customer item -->
                </div>
                <div class="col-lg-6">
                    <div class="customer-item">
                        <img src="../assets/images/customer-1.png" alt="customer">
                        <span><b>Adam</b> / Designer</span>
                        <p>“ Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo conequat ”</p>
                    </div> <!-- customer item -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== CUSTOMER PART ENDS ======-->

    <!--====== LATEST NEWS PART START ======-->

    <section class="latest-news-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h3 class="title">Latest News</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div> <!-- section title -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-8">
                    <div class="latest-news-item mt-125">
                        <img src="../assets/images/latest-news-1.jpg" alt="latest news">
                        <span>Food</span>
                        <a href="blog-details.html">
                            <h5 class="title">Cooking tips make cooking simple</h5>
                        </a>
                    </div> <!-- latest news item -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8">
                    <div class="latest-news-item mt-30">
                        <img src="../assets/images/latest-news-2.jpg" alt="latest news">
                        <span>Plant</span>
                        <a href="blog-details.html">
                            <h5 class="title">Plant Potted Decorative Green</h5>
                        </a>
                    </div> <!-- latest news item -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8">
                    <div class="latest-news-item mt-125">
                        <img src="../assets/images/latest-news-3.jpg" alt="latest news">
                        <span>Drinks</span>
                        <a href="blog-details.html">
                            <h5 class="title">Minimalist Dining Rooms</h5>
                        </a>
                    </div> <!-- latest news item -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="latest-news-link text-center">
                        <a href="blog-grid.html">View More</a>
                    </div> <!-- latest news link -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== LATEST NEWS PART ENDS ======-->

    <!--====== INSTAGRAM PART START ======-->

    <div class="instagram-area">
        <div class="container-fluid pl-60 pr-60">
            <div class="row">
                <div class="col-lg-12">
                    <div class="instagram-item d-flex">
                        <div class="single-instagram">
                            <img src="../assets/images/instagram-1.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                        <div class="single-instagram">
                            <img src="../assets/images/instagram-2.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                        <div class="single-instagram">
                            <img src="../assets/images/instagram-3.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                        <div class="single-instagram d-none d-sm-inline-block">
                            <img src="../assets/images/instagram-4.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                        <div class="single-instagram d-none d-md-inline-block">
                            <img src="../assets/images/instagram-5.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                        <div class="single-instagram d-none d-md-inline-block">
                            <img src="../assets/images/instagram-6.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                        <div class="single-instagram d-none d-lg-inline-block">
                            <img src="../assets/images/instagram-7.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                        <div class="single-instagram d-none d-lg-inline-block">
                            <img src="../assets/images/instagram-8.jpg" alt="instagram">
                            <div class="instagram-overlay">
                                <a href="#"><i class="ion ion-logo-instagram"></i></a>
                            </div>
                        </div> <!-- single instagram -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container fluid -->
        <span># hafood</span>
    </div>

    <!--====== INSTAGRAM PART ENDS ======-->

    <!--====== FOOTER PART START ======-->

    <section class="footer-area gray-bg pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="footer-item-1 mt-30">
                        <a href="index.html"><img src="../assets/images/logo-2.png" alt="logo"></a>
                        <span>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span>
                        <ul>
                            <li><a href="#">Quality policy</a></li>
                            <li><a href="#">Customer Policy </a></li>
                            <li><a href="#">About Us所得到的多多多多多多多多多多多多</a></li>
                        </ul>
                        <div class="footer-info">
                            <ul>
                                <li><i class="ion ion-md-pin"></i> 123 New Design Str, ABC Building, <br> Melbourne, Australia</li>
                                <li><i class="ion ion-ios-mail"></i>example@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-2 col-md-2 col-sm-4">
                    <div class="footer-social mt-30">
                        <h5 class="title">Social Links</h5>
                        <ul>
                            <li><a href="">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="skype:live:taherul.islam_1">Skype</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-8">
                    <div class="footer-item-2 mt-30">
                        <h5 class="title">Newsletters</h5>
                        <form action="#">
                            <div class="input-box mt-25">
                                <input type="email" placeholder="Your email">
                            </div>
                            <div class="input-box mt-25">
                                <button class="main-btn">Submit <i class="ion ion-ios-send"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP ======-->
    <div class="back-to-top">
        <a href="">
            <i class="ion ion-md-arrow-up"></i>
        </a>
    </div>
    <!--====== BACK TO TOP ======-->



    <!--====== jquery js ======-->
    <script src="../assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="../assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="../assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="../assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="../assets/js/jquery.nice-select.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="../assets/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="../assets/js/main.js"></script>

    <script src="../js2/bootstrap3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js2/bootstrap3/css/bootstrap.css" />


    <script src="../js2/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js2/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="../js2/bootstrap-table/bootstrap-table.css"/>

    <script src="../js2/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js2/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="../js2/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>

    <!-- 引入弹框的js -->
    <script src="../js2/bootstrap-bootbox/bootbox.js"></script>
</body>
<script>

    $(function () {
      //  inTable();

    })

    inTable = function(){

        $("#dg").bootstrapTable({

            url:"../b/query",
            method:"get",
            contentType:'application/x-www-form-urlencoded',//post请求按照表单方式
            pagination:true, //是否展示分页
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页
            pageList:[2, 4, 6, 8],//分页组件
            pageNumber:1,
            pageSize:6,//默认每页条数
            clickToSelect: true, //是否启用点击选中行
            queryParams:function(){

                var typeid = $("#typeid2").val();

                var sdate = $("#sdate").val();
                var edate = $("#edate").val();
                return{
                    page:this.pageNumber,
                    rows:this.pageSize,

                    companyid:typeid,
                    sdate:sdate,
                    edate:edate,
                }
            },
            columns:[
                {checkbox:true},
                {field:'fightid',title:'ID',width:50},
                {field:'fightno',title:'编号',width:150},
                {field:'companyname',title:'航空公司',width:150},
                {field:'fprice',title:'价格',width:150},
                {field:'fightdate',title:'日期',width:150},
                {field:'fightcount',title:'坐位数量',width:150},
                {field:'figimg',title:'图片',formatter:function(value,row,index){
                        return '<img width="130px" height="130px" src="'+value+'"/>';
                    },width:150},


                {field:'xxx',title:'操作',formatter:function(value,row,index){

                        str="<button type='button' onclick='del("+row.fightid+")' class='btn btn-default btn-danger'>删除</button> "
                        str+="<button type='button' onclick='update("+row.fightid+")' class='btn btn-default btn-success'>修改</button> "
                        return str;
                    },width:150}
            ]
        })
    }



</script>
<script>
    $(function () {

        initCar();
    })

    //条查
    function searchUser(){
        var carName = $("#carName").val();

        initCar(carName);
    }

    initCar = function (carName) {

        if (carName != undefined){
            $.ajax({
                url:"../b/queryzhu?name="+carName,
                type:"GET",
                success:function (data) {

                    var Cartable = "";

                    for (i = 0; i < data.rows.length; i++) {

                        Cartable +=
                            '<div class="col-md-3" id="rowaa">'+
                            '<p></p>'+
                            '<p></p>'+
                            '<a>'+
                            '<img src="'+data.rows[i].img+'" style="height:180px;width:100px;display: block">'+
                            '</a>'+
                            '<div class="caption">'+
                            '<h3>'+data.rows[i].title+'</h3>'+

                            '<p>价格&nbsp;'+data.rows[i].price+ '/月</p>'+
                            '<a  href="#" class="btn btn-primary">预定</a>'+
                            '<a   class=""></a>'+
                            '</div>'+
                            '</div>'
                    }

                    $("#aaaId").html(Cartable)
                }
            })
        }else if (carName == undefined) {

            $.ajax({
                url:"../b/queryzhu",
                type:"GET",
                success:function (data) {

                    var Cartable = "";

                    for (i = 0; i < data.length; i++) {

                        Cartable +=
                            '<div class="col-md-3">'+
                            '<p></p>'+
                            '<p></p>'+
                            '<a>'+
                            '<img src="'+data[i].img+'" style="height:180px;width:100%;display: block">'+
                            '</a>'+
                            '<p class="caption">'+
                            '<h4>'+data[i].title+'</h4>'+

                            '<h4> <font color="red">价格  ：'+data[i].price+
                            +'&nbsp; /晚</font></h4></p>'+
                            '<p> <FONT SIZE="6PX" COLOR="red">面积:&nbsp;'+data[i].proportion+ ' m2 </FONT>&nbsp;&nbsp; <font size="6px" color="#00008b"><b>房东：</b></font><font color="blue" size="5px">'+data[i].fangname+'</font> </p>'+
                            '<a  href="javascript:xiang('+data[i].cid+')" class="btn btn-primary">详情</a>'+
                            '<a   class=""></a>'+
                            '</div>'+
                            '</div>'
                    }

                    $("#aaaId").html(Cartable)
                }
            })
        }
    }


</script>
<script>



    function c() {
        var id=$("#id").val();
        if(id==-1){
            alert("请先登录")
            return ;
        }
      location.href="../p/ge?id="+id;
    }

    function xiang(id) {



        location.href="../p/xiang?id="+id;
    }
    function fang() {


        location.href="../p/fang";
    }
    function deng() {
        location.href="../p/popupsignin";
    }
</script>
</html>

